@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">STUDENT MANAGEMENT APPLICATION</h1>
    <a asp-controller="Home" asp-action="Students" class="btn btn-primary">Students Overview</a>
    <a asp-controller="Home" asp-action="CreateEditStudentInfo" class="btn btn-secondary">Capture/Edit Student</a>

</div>
